<section class="mt-5" id="about">
    <h1 class="text-center">SMARTER TOGETHER.</h1>
    <p class="text-center lead col-md-8 mx-auto">
        No one knows everything, but everyone knows something. With Brainly, students combine their strengths and talents to tackle problems together.
    </p>
</section>