<div class="jumbotron">
    <div class="container">
        <section id="about">
            <h1 class="display-4">SMARTER TOGETHER.</h1>
            <div class="row">
                <p class="lead col-md-8">
                    No one knows everything, but everyone knows something. With Brainly, students combine their strengths and talents to tackle problems together.
                </p>
            </div>
        </section>
    </div>
</div>